# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
.history

# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# iOS related
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/

# Android related
/android/key.properties
*.jks
/android/app/debug
/android/app/profile
/android/app/release

# Web related
lib/generated_plugin_registrant.dart

# Documentation
*.md
!README.md

# Sensitive information
.env
*.env.json
